body{
    margin: 0;
    overflow: hidden;
    background-color: #3d3d3d;
}

#banner {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    z-index: 5;

    background-color: rgba(0, 0, 0, 0.5);
}

#streetname{
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: capitalize;
    white-space: nowrap;
}

#sidebar{
    position: fixed;
    bottom: 3vh;
    right: 0;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;

    z-index: 5;
    margin: 0 3vw;
}

#sign{
    visibility: hidden;

    display: flex;
    justify-content: center;
    align-items: center;


    width:23vw;
    height:23vw;
    margin: 1vw;

    background: white;
    border-radius: 100vw;
    border: 3vw solid red;

    font-weight: bold;
    font-size: 14vw;
    font-family: sans-serif;
}

#speedometer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 23vw;
    margin: 1vw;

    background: #f3f3f3;
    border-radius: 1vw;
    border: 0.5vw solid black;


    font-weight: bold;
    font-size: 5vw;
    font-family: sans-serif;
    text-align: center;
}

.overspeed{
    color: red;
}

#travel{
    font-size: 14vw;
    margin: 0.5vw;
}

#map {
    height: 150vh;
    width: 100%;
}
